{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p style="text-align: center">
      <img src="{{asset('image/cat.png')}}" alt="Witches Beauty Logo">
    </p>
    <p class="lead">
      Fondée en France par Inès MAGANGA, en 2022, Witches Beauty est la novelle marque pour toutes les sorcières du monde. <br>
      Avec ses produits vegans et ses couleurs audacieuses, Witches Beauty vous assure un service d'exception pour vous satisfaire et vous placer au coeur de la beauté. <br>
      Venez visiter notre magasin ! <br>
      <p style="text-align:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2625.0152756265015!2d2.403191!3d48.8579191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d86dc71c3d3%3A0x84f20e377cfe9b7d!2s19%20Rue%20Courat%2C%2075020%20Paris!5e0!3m2!1sfr!2sfr!4v1654994561537!5m2!1sfr!2sfr"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </p>
    </p>
  </div>
</div>

{% endblock %}
