{% extends 'base.html.twig' %}

{% block body %}

<main class="px-3">
    <p class="lead">
      <img src="{{asset('image/logo.png')}}" alt="Witches Beauty Logo"width="1900" height="600">
    </p>
</main>

{% endblock %}
